DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=shreyaswellnessworld.com,www.shreyaswellnessworld.com

EMAIL_HOST=smtp.zeptomail.in
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=emailapikey
EMAIL_HOST_PASSWORD=replace-with-rotated-password
DEFAULT_FROM_EMAIL=noreply@shreyaswellnessworld.com
ADMIN_EMAIL=msgiribabu@gmail.com

BRAND_NAME=Shreyas Wellness World
BRAND_SHORT_NAME=Shreyas Wellness
BRAND_CENTER_NAME=Shreyas Wellness Center
BRAND_PHONE=+91 9676011011
BRAND_PHONE_HREF=+919676011011
BRAND_WHATSAPP=919676011011
BRAND_EMAIL=noreply@shreyaswellnessworld.com
BRAND_ADDRESS=20/950, 1ST MAIN RD, Cooperative Colony, below City Diagnostic Centre, Kadapa
BRAND_MAP_QUERY=Shreyas Wellness World Kadapa
BRAND_LOGO=images/shreyas.png
