arrow==1.4.0
asgiref==3.11.1
attrs==25.4.0
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cssselect2==0.9.0
Django==6.0.2
django-ckeditor==6.7.3
django-js-asset==3.1.2
fonttools==4.61.1
ics==0.7.2
idna==3.11
pillow==12.1.1
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
reportlab==4.4.10
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
TatSu==5.16.0
tinycss2==1.5.1
tinyhtml5==2.0.0
tzdata==2025.3
urllib3==2.6.3
weasyprint==68.1
webencodings==0.5.1
zopfli==0.4.1
